#
#  .gitignore for epanet-python repo
#

.*
!.github
!.gitignore
!.gitmodules
.DS_Store

*.pyc

_skbuild/
_cmake_test_compile

dist/
MANIFEST
.pytest_cache/
__pycache__/
*.egg-info/

epanet-toolkit/docs/_build

epanet-toolkit/tests/data/*
!test_*.*
