#
#  .gitignore for epanet-python repo
#

.*
!.gitignore
!.gitmodules

*.pyc

_skbuild/
_cmake_test_compile

dist/
MANIFEST
.pytest_cache/
__pycache__/
*.egg-info/


epanet-toolkit/tests/data/*
!test_*.*
